/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

.sidebar {
  width: 240px;
  float: left;
  height: 100vh;
  padding: 10px;
}

.sidebar-section {
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
}

.sidebar-section:last-child {
  border-bottom: none;
}

.content {
  flex-grow: 1;
  padding: 24px;
}

.draggable-tree {
  background-color: #f0f2f5;
}

.empty-project-container {
  padding: 16px;
}

.empty-details-container {
  padding: 24px;
  height: 100%;
}

.create-file-container {
  text-align: center;
  padding: 20px;
}
